In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
crop=pd.read_csv('Crop_recommendation.csv')
argi=pd.read_csv('argiculture.csv')
rainfall=pd.read_csv('rainfall in india 1901-2015.csv')
distwise=pd.read_csv('district wise rainfall normal.csv')

In [3]:
crop
# N - ratio of Nitrogen content in soil
# P - ratio of Phosphorous content in soil
# K - ratio of Potassium content in soil

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
crop['label'].nunique() #we are calculating the 22 unique crops

22

In [5]:
#taking avrage of crops that are requried 
diff = crop.groupby(['label']).mean()
diff.to_csv('types-of-crop.csv')

In [6]:
df=pd.read_csv('types-of-crop.csv')
df

,label,N,P,K,temperature,humidity,ph,rainfall
0,apple,20.80,134.22,199.89,22.630942,92.333383,5.929663,112.654779
1,banana,100.23,82.01,50.05,27.376798,80.358123,5.983893,104.626980
2,blackgram,40.02,67.47,19.24,29.973340,65.118426,7.133952,67.884151
3,chickpea,40.09,67.79,79.92,18.872847,16.860439,7.336957,80.058977
4,coconut,21.98,16.93,30.59,27.409892,94.844272,5.976562,175.686646
5,coffee,101.20,28.74,29.94,25.540477,58.869846,6.790308,158.066295
6,cotton,117.77,46.24,19.56,23.988958,79.843474,6.912675,80.398043
7,grapes,23.18,132.53,200.11,23.849575,81.875228,6.025937,69.611829
8,jute,78.40,46.86,39.99,24.958376,79.639864,6.732778,174.792798
9,kidneybeans,20.75,67.54,20.05,20.115085,21.605357,5.749411,105.919778
10,lentil,18.77,68.36,19.41,24.509052,64.804785,6.927932,45.680454
11,maize,77.76,48.44,19.79,22.389204,65.092249,6.245190,84.766988
12,mango,20.07,27.18,29.92,31.208770,50.156573,5.766373,94.704515
13,mothbeans,21.44,48.01,20.23,28.194920,53.160418,6.831174,51.198487
14,mungbean,20.99,47.28,19.87,28.525775,85.499975,6.723957,48.403601
15,muskmelon,100.32,17.72,50.08,28.663066,92.342802,6.358805,24.689952
16,orange,19.58,16.55,10.01,22.765725,92.170209,7.016957,110.474969
17,papaya,49.88,59.05,50.04,33.723859,92.403388,6.741442,142.627839
18,pigeonpeas,20.73,67.73,20.29,27.741762,48.061633,5.794175,149.457564
19,pomegranate,18.87,18.75,40.21,21.837842,90.125504,6.429172,107.528442
20,rice,79.89,47.58,39.87,23.689332,82.272822,6.425471,236.181114
21,watermelon,99.42,17.00,50.22,25.591767,85.160375,6.495778,50.786219

In [7]:
# sns.pairplot(df)

In [8]:
argi['commodity']=='rice'

0       False
1       False
2       False
3       False
4       False
        ...
2233    False
2234    False
2235    False
2236    False
2237    False
Name: commodity, Length: 2238, dtype: bool

In [9]:
distwise

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6

In [10]:
d = rainfall.groupby(['SUBDIVISION']).mean()
d

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
SUBDIVISION,,,,,,,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,1958.918182,52.637273,27.994545,31.824074,72.223148,357.056881,471.580556,400.042593,400.047222,439.482243,290.264815,233.744444,153.144860,2927.439423,80.632727,462.249533,1706.687850,675.416822
ARUNACHAL PRADESH,1965.824742,47.297917,91.116667,153.527368,263.836082,358.522680,647.373958,694.544792,495.229897,432.134021,194.686316,35.696842,24.502105,3418.857143,138.416667,777.686316,2271.422105,254.513830
ASSAM & MEGHALAYA,1958.000000,16.974783,31.441739,79.026957,203.115652,341.539130,510.161739,495.102609,404.593043,310.734783,152.118261,26.938261,8.951304,2580.695652,48.413043,623.687826,1720.590435,188.015652
BIHAR,1958.000000,13.386087,14.393913,10.124348,16.918261,53.081739,174.315652,324.441739,299.643478,217.384348,63.074783,7.178261,3.694783,1197.633913,27.776522,80.126957,1015.786087,73.953913
CHHATTISGARH,1958.000000,14.206957,19.259130,15.266957,16.773043,21.048696,198.266087,398.577391,389.873043,217.780000,63.660000,11.772174,5.248696,1371.728696,33.462609,53.092174,1204.500870,80.674783
COASTAL ANDHRA PRADESH,1958.000000,7.483478,12.923478,13.221739,26.740870,62.549565,123.693913,173.824348,175.923478,181.707826,185.511304,77.903478,11.420000,1052.904348,20.404348,102.515652,655.141739,274.835652
COASTAL KARNATAKA,1958.000000,1.937719,1.518261,6.357391,30.916522,122.787826,841.326087,1127.028696,713.618261,299.652174,184.552174,63.607826,12.613913,3408.409649,3.371053,160.051304,2981.618261,260.775652
EAST MADHYA PRADESH,1958.000000,19.401739,18.693913,13.637391,7.188696,9.273043,141.029565,371.378261,369.368696,194.236522,39.686087,12.705217,8.404348,1205.000000,38.094783,30.096522,1076.018261,60.800000
EAST RAJASTHAN,1958.000000,6.422609,5.417391,4.516522,3.144348,9.820000,63.399130,223.347826,218.277391,97.978261,14.360870,4.873913,3.651304,655.215652,11.837391,17.487826,602.998261,22.887826
EAST UTTAR PRADESH,1958.000000,16.012174,15.873913,8.907826,6.430435,17.211304,110.712174,290.568696,275.613913,184.591304,42.920870,4.590435,5.776522,979.213043,31.887826,32.553913,861.486087,53.293913
GANGETIC WEST BENGAL,1958.000000,12.595652,22.452174,29.090435,44.885217,107.787826,247.196522,326.377391,311.382609,245.710435,115.746087,21.579130,5.690435,1490.487826,35.042609,181.766087,1130.657391,143.018261
GUJARAT REGION,1958.000000,1.786087,1.191304,1.220870,1.116522,5.809565,121.284348,348.920870,259.193043,148.841739,20.565217,6.928696,1.339130,918.230435,2.977391,8.161739,878.251304,28.834783
HARYANA DELHI & CHANDIGARH,1958.000000,16.889565,17.433913,12.935652,7.633913,14.533913,48.626087,150.015652,150.840870,88.306957,12.823478,3.264348,7.186087,530.496522,34.331304,35.112174,437.786957,23.270435
HIMACHAL PRADESH,1958.000000,84.189565,90.894783,101.146087,62.428696,58.156522,91.220870,280.284348,273.933043,130.219130,31.278261,16.695652,39.893043,1260.345217,175.082609,221.726957,775.664348,87.871304
JAMMU & KASHMIR,1958.000000,102.030435,115.450435,131.378261,93.702609,67.476522,64.234783,179.837719,180.973043,89.289565,34.166957,24.133333,55.425439,1139.684211,217.482609,292.552174,515.428070,113.959649
JHARKHAND,1958.000000,17.621739,24.186087,18.423478,19.366957,48.317391,194.588696,336.975652,325.524348,227.421739,80.015652,11.923478,4.939130,1309.303478,41.809565,86.095652,1084.510435,96.880870
KERALA,1958.000000,12.246957,15.496522,36.814783,110.573913,229.881739,654.302609,700.953043,421.977391,245.619130,294.122609,163.560000,39.950435,2925.487826,27.739130,377.253913,2022.840870,497.636522
KONKAN & GOA,1958.000000,1.262609,0.546957,1.374783,4.266087,33.515652,688.569565,1073.030435,682.756522,349.780000,113.386957,24.671304,4.516522,2977.686087,1.813043,39.161739,2794.130435,142.579130
LAKSHADWEEP,1958.350877,27.494643,15.834513,14.350893,45.163393,163.893750,327.627679,281.928829,207.993750,163.170270,166.727928,124.840741,60.810909,1590.886408,42.500000,223.822727,983.554545,355.387037
MADHYA MAHARASHTRA,1958.000000,3.054783,1.467826,3.596522,9.146957,22.943478,147.426087,248.980000,184.397391,157.221739,70.194783,25.945217,5.848696,880.233043,4.526087,35.692174,738.025217,101.986087
MATATHWADA,1958.000000,5.000870,4.443478,7.105217,7.594783,15.646957,136.957391,180.648696,166.484348,178.476522,58.580000,22.436522,7.302609,790.692174,9.448696,30.352174,662.567826,88.319130
NAGA MANI MIZO TRIPURA,1958.000000,14.025217,36.652174,77.199130,170.733043,290.839130,445.633913,438.684348,411.281739,314.350435,175.006087,46.833913,12.399130,2433.619130,50.669565,538.769565,1609.941739,234.240000
NORTH INTERIOR KARNATAKA,1958.000000,3.013043,3.172174,7.123478,24.300870,47.035652,100.993043,138.531304,119.459130,142.940870,95.688696,29.207826,6.327826,717.795652,6.184348,78.460870,501.927826,131.223478
ORISSA,1958.000000,12.329565,19.719130,21.134783,34.160000,64.886087,210.860870,351.173043,355.382609,241.403478,113.592174,27.961739,5.567826,1458.169565,32.047826,120.184348,1158.817391,147.122609
PUNJAB,1958.000000,25.246087,26.786957,23.651304,12.660000,14.136522,46.466957,168.963478,158.167826,86.789565,13.836522,4.140000,12.694783,593.535652,52.030435,50.440000,460.392174,30.669565
RAYALSEEMA,1958.000000,9.867826,5.680000,8.076522,19.808696,50.475652,64.742609,96.081739,107.511304,131.720000,135.327826,102.653913,34.260000,766.206087,15.545217,78.358261,400.058261,272.241739
SAURASHTRA & KUTCH,1958.000000,1.139130,1.615652,1.296522,1.183478,4.662609,74.371304,194.970435,118.770435,75.418261,14.510435,6.096522,1.108696,495.161739,2.752174,7.140870,463.536522,21.718261
SOUTH INTERIOR KARNATAKA,1958.000000,2.928696,4.163478,9.485217,42.280870,92.100000,141.417391,231.359130,174.239130,137.313913,139.143478,54.431304,11.517391,1040.391304,7.087826,143.861739,684.338261,205.093913
SUB HIMALAYAN WEST BENGAL & SIKKIM,1958.000000,14.083478,22.974783,43.135652,110.681739,269.143478,537.881739,646.402609,520.763478,421.341739,143.646087,16.088696,6.060000,2752.217391,37.060870,422.968696,2126.391304,165.801739
TAMIL NADU,1958.000000,23.819130,13.422609,19.475652,44.995652,69.920870,52.056522,71.314783,95.887826,111.597391,183.196522,176.903478,81.137391,943.713043,37.239130,134.386087,330.847826,441.234783
TELANGANA,1958.000000,7.702609,9.688696,12.614783,18.185217,25.373913,142.126087,247.499130,215.059130,175.503478,74.226957,20.250435,5.141739,953.378261,17.396522,56.173043,780.186957,99.620870
UTTARAKHAND,1958.000000,53.797391,63.452174,57.272174,35.166087,55.338261,162.551304,390.698261,382.023478,196.096522,39.073913,8.187826,22.035652,1465.696522,117.251304,147.773913,1131.367826,69.306087
VIDARBHA,1958.000000,10.563478,11.982609,11.872174,9.435652,11.551304,173.578261,329.428696,285.949565,175.449565,52.148696,15.574783,7.927826,1095.459130,22.544348,32.851304,964.403478,75.654783
WEST MADHYA PRADESH,1958.000000,9.241739,6.307895,5.173043,2.375652,7.657391,111.781739,302.982609,288.108696,161.168696,28.086957,12.340870,6.296522,944.358772,15.638596,15.217391,864.043478,46.724348
WEST RAJASTHAN,1958.000000,3.327826,4.930435,3.986087,3.571304,9.443478,28.637391,95.171304,94.555652,40.342609,5.127826,1.666957,1.902609,292.673043,8.255652,17.006087,258.707826,8.700870
WEST UTTAR PRADESH,1958.000000,17.666087,17.893913,11.461739,6.253043,12.306087,77.597391,246.520000,251.299130,146.254783,28.777391,3.966087,7.114783,827.114783,35.554783,30.026087,721.676522,39.858261

In [14]:
# plt.plot(rainfall['YEAR'],rainfall['SUBDIVISION'])

In [12]:
argi

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000,130000,120000
...,...,...,...,...,...,...,...,...,...
2233,West Bengal,Uttar Dinajpur,Islampur,Potato,Jyoti,04/03/2019,530,570,550
2234,West Bengal,Uttar Dinajpur,Islampur,Rice,Other,04/03/2019,3550,3650,3600
2235,West Bengal,Uttar Dinajpur,Raiganj,Jute,TD-5,04/03/2019,4400,4600,4500
2236,West Bengal,Uttar Dinajpur,Raiganj,Rice,Other,04/03/2019,3450,3550,3500
2237,West Bengal,Uttar Dinajpur,Raiganj,Wheat,Kalyan,04/03/2019,2075,2125,2100

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000,130000,120000
...,...,...,...,...,...,...,...,...,...
2233,West Bengal,Uttar Dinajpur,Islampur,Potato,Jyoti,04/03/2019,530,570,550
2234,West Bengal,Uttar Dinajpur,Islampur,Rice,Other,04/03/2019,3550,3650,3600
2235,West Bengal,Uttar Dinajpur,Raiganj,Jute,TD-5,04/03/2019,4400,4600,4500
2236,West Bengal,Uttar Dinajpur,Raiganj,Rice,Other,04/03/2019,3450,3550,3500
2237,West Bengal,Uttar Dinajpur,Raiganj,Wheat,Kalyan,04/03/2019,2075,2125,2100